# Virtual environment
fraud_env/
venv/
.env/

# Model pickle files (too large for GitHub)
models/*.pkl

# Data (too large for GitHub)
data/raw/
data/processed/*.png

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db